.mat-mdc-dialog-actions {
    display: flex;
    justify-content: center;
}

.title
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container
{
    display: flex;
    justify-content: center;

}

.estudiante
{
    padding: 10px;
}

.plazo
{
    padding: 10px;
}

.mat-mdc-dialog-actions {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;   
}
