<div class="photo"></div>


<!-- Pagina principal -->
<app-toolbar></app-toolbar>
<div class="page">
    <div class="container">
        <div class="title">
            <h1>INASISTENCIAS</h1>
            <app-filters></app-filters>
            <button mat-raised-button>Añadir Inasistencia</button>
        </div>

        <app-table></app-table>
        <div class="paginator">
            <app-paginator></app-paginator>
        </div>
    <div>
</div>

        <!-- Pagina Inicio de sesion -->

        <!-- <div class="page">
    <div class="container">
        <h1>
            Iniciar sesion
        </h1>
        <app-login-input></app-login-input>
        <a href>
            ¿Olvidaste tu contraseña?
        </a>
        <div class="buttons">
            <button mat-button class="Crear">
                Crear cuenta
            </button>
            <button mat-button class="Siguiente">
                Siguiente
            </button>
        </div>
    </div>    
</div> -->


        <!-- Pagina Crear cuenta-->
        <!-- 
    <div class="page">
    <div class="container">
    <h1>
        Crear cuenta
    </h1>
    <app-create></app-create>
    <div class="buttons">
        <button mat-button>
            Volver
        </button>
        <button mat-button>
            Siguiente
        </button>
    </div>
    <div>
</div> -->

        <!-- Pagina Recordar-->

        <!-- 
    <div class="page">
        <div class="container">
    
    <h1 class="title">
        Olvidaste la contraseña
    </h1>
    <h3 class="sub-title">
        Ingresa tu correo de recuperacion
    </h3>
    <app-recover-password></app-recover-password>
    <div class="buttons">
        <button mat-button>
            Volver
        </button>
        <button mat-button>
            Siguiente
        </button>
    </div>
    <div>
</div> -->