
<div class="photo"></div>
<img class="logo" src="../../../assets/images/LogoOptions.png">

<div class="page">
    <div class="container">
        <h1>
            Iniciar sesion
        </h1>

        <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
            <mat-form-field class="login" appearance="fill" floatLabel="always">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ej. pat@example.com" name="email" ngModel required email>
                <mat-error *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                    El email no es válido.
                </mat-error>
            </mat-form-field>
        
            <mat-form-field class="login" appearance="fill" floatLabel="always">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" ngModel required minlength="8">
                <mat-error *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                    La contraseña es requerida y debe tener al menos 8 caracteres.
                </mat-error>
            </mat-form-field>
        
            
        </form>

        <a href routerLink="/Remember">
            ¿Olvidaste tu contraseña?
        </a>
        <div class="buttons">
            <button mat-button class="Crear" routerLink="/Create">
                Crear cuenta
            </button>

            <button mat-button type="submit" [disabled]="loginForm.invalid" class="Siguiente" routerLink="/Home">
                Iniciar Sesión
            </button>
        </div>
    </div>    
</div>
