
<div class="photo"></div>

<div class="page">
    <div class="container">
        <h1>
            Iniciar sesion
        </h1>
        <app-login-input></app-login-input>
        <a href routerLink="/Remember">
            ¿Olvidaste tu contraseña?
        </a>
        <div class="buttons">
            <button mat-button class="Crear" routerLink="/Create">
                Crear cuenta
            </button>
            <button mat-button class="Siguiente" routerLink="/Home">
                Siguiente
            </button>
        </div>
    </div>    
</div>
