<div class="photo"></div>

<div class="page">
    <div class="container">

        <h1 class="title">
            Olvidaste la contraseña
        </h1>
        <h3 class="sub-title">
            Ingresa tu correo de recuperacion
        </h3>
        <app-recover-password></app-recover-password>
        <div class="buttons">
            <button mat-button routerLink="/Login">
                Volver
            </button>
            <button mat-button routerLink="/Login" (click)="openRecuperada()">
                Siguiente
            </button>
        </div>
    <div>
</div>