table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.aprobada {
  background-color: #7fff7f;
  /* verde claro */
}

.negada {
  background-color: #ff7f7f;
  /* verde claro */
}

.eliminada {
  background-color: #ff4e4e;
  /* verde claro */
}

.mdc-data-table__header-cell {
  text-align: center;
}

.mdc-data-table__cell
{
  text-align: center;
}

